.wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    box-sizing: border-box;
}

a {   
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.wrapper > div {
    max-width: 500px;
}
.wrapper > div > img {
    width: 100%;
}